@page "/SendRFQList"

<div class="dashboard-details">
    <h4 class="p-2"><img src="images/fountain-pen.png" alt="" width="50" height="50" class="mr-3"><span class="text-uppercase">SEND RFQ TO VENDORS</span>  </h4>
    <div class="newRequsitionForm-content">
        <form action="">
            <div class="container-fluid">

                <div class="analytic_details_contain_two">
                    <table class="table table-striped">
                        <thead style="background-color:steelblue;color:white">
                            <tr>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">Requisition No.</td>
                                <td scope="col">Requester</td>
                                <td scope="col">Request Department</td>
                                <td scope="col">Requisition Title</td>
                                <td scope="col">Request Date</td>
                                <td scope="col">Requisition Total</td>
                                <td scope="col">Currency</td>
                                <td scope="col">Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col"><a href="SendRFQ">SEND RFQ</a></td>
                                <td scope="col"><a href="#">VIEW DETAIL</a></td>
                                <td scope="col">9168-12</td>
                                <td scope="col">Iffat</td>
                                <td scope="col">Supply Chain</td>
                                <td scope="col">Material Purchase</td>
                                <td scope="col">09/02/2022</td>
                                <td scope="col">1,50,000</td>
                                <td scope="col">BDT</td>
                                <td scope="col">Approved</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

    </div>
</div>

@code {

}
