@page "/AddUnit"
@layout CustomLayout
@inject HttpClient Http
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@using Blazored.Typeahead





<div class="card">
    <div class="card-header">
        <h3>Unit</h3>
    </div>

    <br />
    <EditForm Model="@unit" style="height:20%;margin-left:10px">
        <div class="row">
            <div class="col-md-2"><label><b>Unit:</b></label></div>
            <div class="col-md-7">
                <InputText @bind-Value="@unit.UNIT_NAME" style="width:400px"></InputText>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <button type="submit" @onclick="SaveUnit" class="btn btn-info" style="width:120px;margin-right:10px">@submit</button>
                <button type="button" @onclick="Cancel" class="btn btn-danger" style="width:90px">Cancel</button>


            </div>
        </div>

    </EditForm>

    <br />

    <div class="testbox">
        <div class="tablearea">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:40px"></th>
                        <th style="width:40px"></th>
                        <td>Unit</td>
                    </tr>

                </thead>
                <tbody>
                    @if (unitList != null)
                    {
                        foreach (var item in unitList)
                        {
                            <tr>
                                <td style="text-align:center"><a style="color:red" @onclick=@(() => Delete(item.UNIT_ID))><span class="oi oi-trash"></span></a></td>
                                <td style="text-align:center"><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" @onclick=@(() => EditUnit(item.UNIT_ID))><span class="oi oi-pencil"></span></a></td>
                                <td>@item.UNIT_NAME</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>














@code {

    List<BrandModel> brandList = new List<BrandModel>();
    ItemEntity item = new ItemEntity();
    UnitModel unit = new UnitModel();
    List<UnitModel> unitList = new List<UnitModel>();
    string submit = "Save";

    protected override async Task OnInitializedAsync()
    {
        await GetUnit();
        StateHasChanged();

        await JSRuntime.InvokeAsync<object>("TestDataTablesAdd", "#example");
    }
    private async Task GetUnit()
    {
        unitList = await Http.GetJsonAsync<List<UnitModel>>(Utility.BaseUrl + "api/Setup/GetUnit");
    }
    public async Task SaveUnit()
    {

        if (IsValidation_Unit() != true)
        {
            try
            {
                if(submit=="Save")
                {
                    unit.Operation_Type = 1;
                    var data = await Http.PostJsonAsync<UnitModel>(Utility.BaseUrl + "api/Setup/AddUnit", unit);
                    toastService.ShowSuccess("Insert Successfully!!!");
                }
                else if(submit=="Update")
                {
                    unit.Operation_Type = 2;
                    var data = await Http.PutJsonAsync<UnitModel>(Utility.BaseUrl + "api/Setup/UpdateUnit", unit);
                    toastService.ShowSuccess("Update Successfully!!!");
                }
                submit = "Save";
                unit = new UnitModel();
            }
            catch (Exception ex)
            {

            }

        }
        await GetUnit();
    }
    private async Task Cancel()
    {
        unit = new UnitModel();
        submit = "Save";
    }
    private async Task EditUnit(int Id)
    {
        submit = "Update";
        unit = new UnitModel();
        unit.UNIT_NAME= unitList.Find(x => x.UNIT_ID == Id).UNIT_NAME;
        unit.UNIT_ID= Id;
        unit.Operation_Type = 2;
    }
    private async Task Delete(int Id)
    {

        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete ?"))
            return;

        await Http.DeleteAsync(Utility.BaseUrl + "api/Setup/DeleteUnit/" + Id);
        await GetUnit();
    }
    private bool IsValidation_Unit()
    {
        bool flag = false;
        if (unit.UNIT_NAME == "" || unit.UNIT_NAME == string.Empty || unit.UNIT_NAME == null)
        {
            toastService.ShowWarning("Unit Name cannot be empty!");
            flag = true;
        }

        return flag;
    }

}
