@page "/Country"
@layout CustomLayout
@inject HttpClient Http
@inject IToastService toastService
@inject IJSRuntime JSRuntime



<div class="card">
    <div class="card-header">
        <h3>Country</h3>
    </div>

    <br />
    <EditForm Model="@country" style="height:20%;margin-left:10px">
        <div class="row">
            <div class="col-md-2"><label><b>Country Name:</b></label></div>
            <div class="col-md-7">
                <InputText @bind-Value="@country.COUNTRY_NAME" style="width:500px"></InputText>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <button type="submit" @onclick="SaveCountry" class="btn btn-info" style="width:120px;margin-right:10px">@submit</button>
                <button type="button" @onclick="Cancel" class="btn btn-danger" style="width:90px">Cancel</button>


            </div>
        </div>

    </EditForm>

    <br />

    <div class="testbox">
        <div class="tablearea">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:40px"></th>
                        <th style="width:40px"></th>
                        <td>Country</td>
                    </tr>

                </thead>
                <tbody>
                    @if (countryList != null)
                    {
                        foreach (var item in countryList)
                        {
                            <tr>
                                <td style="text-align:center"><a style="color:red" @onclick=@(() => Delete(item.COUNTRY_ID))><span class="oi oi-trash"></span></a></td>
                                <td style="text-align:center"><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" @onclick=@(() => EditCountry(item.COUNTRY_ID))><span class="oi oi-pencil"></span></a></td>
                                <td>@item.COUNTRY_NAME</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>








@code {

    CountryModel country = new CountryModel();
    List<CountryModel> countryList = new List<CountryModel>();
    string submit = "Save";
    protected override async Task OnInitializedAsync()
    {
        await GetCountry();

        StateHasChanged();
        await JSRuntime.InvokeAsync<object>("TestDataTablesAdd", "#example");
    }
    private async Task GetCountry()
    {
        countryList = await Http.GetJsonAsync<List<CountryModel>>(Utility.BaseUrl + "api/Setup/GetCountry");
    }
    public async Task SaveCountry()
    {        
        if (IsValidation_Country() != true)
        {
            try
            {
                if (submit == "Save")
                {
                    country.Operation_Type = 1;
                    var data = await Http.PostJsonAsync<CountryModel>(Utility.BaseUrl + "api/Setup/AddCountry", country);
                    toastService.ShowSuccess("Insert Successfully!!!");
                }
                else if (submit == "Update")
                {
                    country.Operation_Type = 2;
                    var data = await Http.PutJsonAsync<CountryModel>(Utility.BaseUrl + "api/Setup/UpdateCountry", country);
                    toastService.ShowSuccess("Update Successfully!!!");
                }
                await Cancel();
            }
            catch (Exception ex)
            {

            }

        }
        await GetCountry();
    }
    private async Task Cancel()
    {
        country = new CountryModel();
        submit = "Save";
    }
    private async Task Delete(int Id)
    {

        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete ?"))
            return;

        await Http.DeleteAsync(Utility.BaseUrl + "api/Setup/DeleteCountry/" + Id);
        await GetCountry();
    }
    private async Task EditCountry(int Id)
    {
        submit = "Update";
        country = new CountryModel();
        country.COUNTRY_NAME= countryList.Find(x => x.COUNTRY_ID == Id).COUNTRY_NAME;
        country.COUNTRY_ID= Id;
        country.Operation_Type = 2;
    }
    private bool IsValidation_Country()
    {
        bool flag = false;
        if (country.COUNTRY_NAME== "" || country.COUNTRY_NAME == string.Empty || country.COUNTRY_NAME == null)
        {
            toastService.ShowWarning("Country Name cannot be empty!");
            flag = true;
        }

        return flag;
    }
}

